@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  background-image: url(img/background.jpg);
  background-size: cover;
  font-family: "PT Sans Narrow";
}

/* Common */
.container {
  max-width: 1150px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.common-button {
  max-width: 140px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background-color: #9f6c1c;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 10px;
  border: none;
  transition: background 0.2s ease-in-out;
}

.common-button:hover {
  background-color: #6b4913;
  cursor: pointer;
}

/* /Common */

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #9f6c1c;
  box-shadow: 0 0 10px rgba(80, 79, 79, 0.5);
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  width: 100%;
  margin-left: 10px;
}

.navbar__item {
  padding: 10px;
  display: flex;
  margin-right: 15px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.navbar__item:hover {
  color: #f0a122;
}

.header__button {
  margin-right: 20px;
  color: white;
  background: #9f6c1c;
  padding: 10px 10px;
  border: none;
  display: flex;
  align-items: center;
}

.header__button:hover {
  background-color: #6b4913;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s ease-in-out;
}
.button_icon {
  padding-right: 5px;
  font-size: 1.5em;
  padding-top: 5px;
}

/* Section advantage */
.advantage {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
}

.advantage__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.advantage__logo-container {
  margin: 0 auto;
}

.advantage__logo {
  max-width: 195px;
  width: 100%;
  margin: 0 auto;
}

.advantage-item {
  flex: 1;
  max-width: 290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.advantage-item__title {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

.advantage-item__icon {
  max-width: 28px;
  width: 100%;
  margin: 18px 0px 30px;
}

.advantage-item__text {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  line-height: 24px;
}

/* Section - NEWS GALLERY */
.splushkin-info {
  display: flex;
  background-image: url("./img/newsgallery.png");
  padding: 40px 0;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(80, 79, 79, 0.5);
}

.splushkin-news {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 80px;
  padding-right: 60px;
}

.splushkin-news__title {
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}

.news-items {
  margin-top: 20px;
  margin-bottom: 25px;
}

.news-item {
  list-style-type: none;
}

.news-item__text {
  text-transform: uppercase;
  text-align: justify;
  color: black;
  padding-bottom: 5px;
}

.news-item__link {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.border-line {
  display: flex;
}

.splushkin-gallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splushkin-gallery__title {
  max-width: 250px;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}

.carousel {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.carousel__item {
  width: 300px;
  height: 200px;
}

.splushkin-button_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.splushkin-gallery-button:first-child {
  margin-right: 20px;
}

/* Section - READY ORDER */
.order {
  display: flex;
  justify-content: center;
  background-image: url("./img/background-order-go.png");
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(80, 79, 79, 0.5);
}

.order-item {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.order-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

.order-text {
  padding: 5px 15px 35px;
  font-size: 14px;
  text-align: center;
}

.order-link {
  text-decoration: none;
}

.order-link:hover {
  background: #6b4913;
  transition: all 0.2s ease-in-out;
}

.order-image_cat {
  max-width: 185px;
}

/* Section - FOOTER */

.footer {
  width: 100%;
  height: 130px;
  background-color: #9f6c1c;
}

.footer-wrapper {
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}

.footer-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 15px;
}

.footer-button_link {
  max-width: 40px;
  width: 100%;
}

.footer-button_link:first-child {
  margin-right: 10px;
}

.footer-button_link:hover {
  transform: scale(1.2);
}
