@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  background-image: url(img/background.jpg);
  background-size: cover;
  font-family: "PT Sans Narrow";
}

/* Common */
.container {
  max-width: 1150px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.common-button {
  max-width: 140px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background-color: #9f6c1c;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 10px;
  border: none;
  transition: background 0.2s ease-in-out;
}
.common-button:hover {
  cursor: pointer;
  background-color: #6b4913;
  transition: all 0.2s ease-in-out;
}

/* /Common */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #9f6c1c;
  box-shadow: 0 0 10px rgba(80, 79, 79, 0.5);
  z-index: 1;
  padding-left: 30px;
}

.topnav a {
  padding: 10px;
  margin-right: 15px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.topnav a:hover {
  color: #f0a122;
}

/* Section advantage */
.advantage {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
}

.advantage__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.advantage__logo-container {
  margin: 0 auto;
}

.advantage__logo {
  max-width: 195px;
  width: 100%;
  margin: 0 auto;
}

.advantage-item {
  flex: 1;
  max-width: 290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.advantage-item__title {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

.advantage-item__icon {
  max-width: 28px;
  width: 100%;
  margin: 18px 0px 30px;
}

.advantage-item__text {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  line-height: 24px;
}

/* Section - NEWS GALLERY */
.splushkin-info {
  display: flex;
  background-image: url("./img/newsgallery.png");
  padding: 40px 0;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(80, 79, 79, 0.5);
}

.splushkin-news {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 80px;
  padding-right: 60px;
}

.splushkin-news__title {
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}

.news-items {
  margin-top: 20px;
  margin-bottom: 25px;
}

.news-item {
  list-style-type: none;
}

.news-item__text {
  text-align: justify;
  color: black;
  padding-bottom: 5px;
}

.news-item__link {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.border-line {
  display: flex;
}

.splushkin-gallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splushkin-gallery__title {
  max-width: 250px;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}

.carousel {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.carousel__item {
  width: 300px;
  height: 200px;
}

.splushkin-button_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.splushkin-gallery-button:first-child {
  margin-right: 20px;
}

/* Section - READY ORDER */
.order {
  display: flex;
  justify-content: center;
  background-image: url("./img/background-order-go.png");
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(80, 79, 79, 0.5);
}

.order-item {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.order-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

.order-text {
  padding: 5px 15px 35px;
  font-size: 14px;
  text-align: center;
}


.order-link {
  text-decoration: none;
  text-align: center;
}

.order-link:hover {
  background: #6b4913;
  transition: all 0.2s ease-in-out;
}

.order-image_cat {
  max-width: 185px;
 }

/* Section - FOOTER */
.footer {
  width: 100%;
  height: 130px;
  background-color: #9f6c1c;
}

.footer-wrapper {
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}

.footer-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 15px;
}

.footer-button_link {
  max-width: 40px;
  width: 100%;
}

.footer-button_link:first-child {
  margin-right: 10px;
}

.footer-button_link:hover {
  transform: scale(1.2);
}
.fotorama {
  width: 300px;
  margin: 0 auto;
}

/* Section - PRICE */

.price {
  display: flex;
  background-image: url("./img/newsgallery.png");
  padding: 40px 0;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(80, 79, 79, 0.5);
  margin-bottom: 40px;
}

.price-catSucker-container {
  display: flex;
  padding-bottom: 20px;
}

.price-catSucker-box {
  display: flex;
  flex-direction: column;
}

.price-item {
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
}

.price-header {
  display: block;
  margin-bottom: 40px;
}

.price-title {
  text-transform: uppercase;
  font-size: 30px;
}

.price-title-cat {
  padding-bottom: 20px;
}

.price-line {
  display: inline-block;
  width: 110px;
  height: 2px;
}

.price-title-catSucker {
  display: inline-block;
  text-transform: uppercase;
  font-size: 30px;
  color: #9f6c1c;
  padding: 0 15px;
}

.price-title-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.price-catSucker-box {
  display: flex;
}

.price-catSucker-title {
  width: 50%;
  padding-left: 15%;
}

.price-catSucker-firstname {
  text-transform: uppercase;
  font-size: 30px;
}

.price-catSucker-lastname {
  text-transform: uppercase;
  font-size: 15px;
}

.price-catSucker-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25%;
}

.price-catSucker-number {
  text-transform: uppercase;
  font-size: 30px;
}

.price-catSucker-currency {
  text-transform: uppercase;
  font-size: 20px;
}

.price-promotion {
  text-transform: uppercase;
  font-size: 30px;
  color: red;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

.price-bottom {
  position: relative;
}

.price-funnycat {
  position: absolute;
  width: 200px;
  top: 20px;
  right: 100px;
}

/* Section - Delivery */

.delivery {
  display: flex;
  background-image: url("./img/newsgallery.png");
  padding: 40px 0;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(80, 79, 79, 0.5);
  margin-bottom: 40px;
}

.delivery-item {
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
}

.delivery-header {
  display: block;
  margin-bottom: 40px;
}

.delivery-title {
  text-transform: uppercase;
  font-size: 30px;
}

.delivery-box {
  display: flex;
}

.delivery-belpost {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.delivery-evropochta {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.delivery-text {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

.delivery-text-price {
  margin-top: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 40px;
}

.belpost-deliveryBox {
  display: flex;
  align-items: center;
}

.evropochta-deliveryBox {
  display: flex;
  align-items: center;
}

.delivery-bottom p {
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}

/* Pop-up window styling */

.popup {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  text-align: left;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  padding: 40px 50px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  line-height: 35px;
}

.popup-close {
  position: absolute;
  top: -5px;
  right: -20px;
  font-size: 30px;
  width: 20px;
  border: none;
  background-color: transparent;
  color: white;
}

.popup-close:hover {
  cursor: pointer;
}

.popup-header {
  text-transform: uppercase;
  text-align: center;
}

.popup-text {
  padding-bottom: 5px; 
  text-align: center;
}

.popup-form-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.popup-form-in {
  margin-left: 15px;
  width: 100%;
}

.popup-form-in-slider {
  margin-left: 15px;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.btn-form {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
}

/* The switch - the box around the slider */

.switchEggs {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 22px;
}

/* Hide default HTML checkbox */

.switchEggs input {
  display: none;
}

.switchEyelashes {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 22px;
}

/* Hide default HTML checkbox */

.switchEyelashes input {
  display: none;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
} 

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9f6c1c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9f6c1c;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

  /* Burger Menu */

.bgmenu {
  opacity: 0;
  width: 70px;
  height: 70px;
  position: relative;
  display: block;
  margin: -2px 0px;
}

.bgmenu span {
  width: 30px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%);
  transition: transform 0.5s;
}

.bgmenu span:nth-of-type(2) {
  top: calc(50% + 5px);
}

.bgmenu span:nth-of-type(3) {
  top: calc(50% - 5px);
}

.bgmenu.active span:first-of-type {
  opacity: 0;
}

.bgmenu.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-100%) rotate(45deg);
}

.bgmenu.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-100%) rotate(-45deg);
}

.upward {
  position: fixed;
  bottom: 700px;
  right: 40px;
  width: 70px;
  height: 70px;
  background: url("/img/up.png");
  background-size: cover;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.upward.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

/* @MEDIA */

@media screen and (max-width: 1160px) {
  .price-funnycat {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 0;
    right: 0;
  }
  .price-promotion {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 990px) {
  .delivery-text {
    font-size: 14px;
  }
  .delivery-text-price {
    font-size: 30px;
  }
  .delivery-bottom p {
    font-size: 14px;
  }
  .belpost {
    width: 300px;
  }
  .evropochta {
    width: 300px;
  }
}

@media screen and (max-width: 911px) {
  .advantage-item__title {
    text-align: center;
  } 
}

@media screen and (max-width: 990px) {
  .belpost {
    width: 250px;
  }
  .evropochta {
    width: 250px;
  }
}
  
@media screen and (max-width: 764px) {
  .delivery-text-price {
    font-size: 25px;
  }
}

@media screen and (max-width: 751px) {
  .price-title-catSucker {
    font-size: 25px;
  }
} 

@media screen and (max-width: 694px) {
  .price-title-catSucker {
    font-size: 22px;
  }
}

@media screen and (max-width: 679px) {
  .topnav a {
    padding-left: 5px;
  }
}

@media screen and (max-width: 675px) {
  .topnav a {
    display: none;
  }
  header:first-child {
    justify-content: flex-end;
  }
  .bgmenu {
    opacity: 1;
  }
  .topnav {
    margin: 0 auto;
    width: 100%;
    transform: translateX(670px);
    transition: transform 1s;
  }
  .topnav.active {
    height: 100vh;
    background-color: #9f6c1c;
    position: absolute;
    top: 75px;
    left: 0px;
    margin-top: -30px;
    transform: translateX(0px);
    transition: transform 1s;
  }
  .topnav.active a {
    display: block;
    text-align: center;
  }
  .advantage-item__title {
    text-align: center;
    font-size: 18px;
  }
  .splushkin-info {
    flex-direction: column;
  }
  .splushkin-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 60px;
  }
  .border-line {
    display: none;
  }
  .splushkin-gallery {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advantage__wrapper {
    display: block;
    margin: 0px auto;
    padding-top: 30px;
  }
  .advantage-item {
    margin-bottom: 35px;
  }
  .advantage {
    padding-bottom: 40px;
  }
  .popup-content {
    position: fixed;
    width: 90%;
    text-align: left;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    padding: 40px 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    line-height: 35px;
  }
  .price-title-catSucker {
    font-size: 20px;
    text-align: center;
  }
  .price-funnycat {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 0;
    right: 0;
  }
  .delivery-box {
    flex-direction: column;
    align-items: center;
  }
  .belpost,.evropochta {
    width: 100%;
    margin: 20px 0;
  }
  .delivery-belpost, .delivery-evropochta {
    width: 100%;
    padding-bottom: 20px;
  }
  .price-item {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .price-catSucker-title {
    padding-left: 0;
  }
  .belpost {
    width: 250px;
  }
  .evropochta {
    width: 250px;
  }
  .delivery-belpost, .delivery-evropochta {
    display: flex;
    align-items: center;
  }
  .price-catSucker-container {
    display: flex;
    padding-bottom: 20px;
    width: 100%;
    justify-content: center;
  }
  .splushkin-gallery__title {
    padding-bottom: 20px;
  }
  .price-title {
    text-align: center;
  }
  .delivery-title {
    text-align: center;
  }
}

@media screen and (max-width: 511px) {
  .order-item {
    flex-direction: column;
  }
  .order-image_cat {
    padding-top: 30px;
  }
}

@media screen and (max-width: 413px) {
  .delivery-text-price {
    white-space: nowrap;
  }
  .delivery-item {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .delivery-bottom p {
    font-size: 14px;
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 404px) {
  .price-title-catSucker {
    font-size: 14px;
  }
  .price-catSucker-firstname {
    font-size: 14px;
  }
  .price-catSucker-number {
    font-size: 20px;
  }
  .price-catSucker-currency {
    font-size: 14px;
  }
  .cost-line {
    width: 60px;
  }
  .price-line {
    width: 70px;
  }
  .price-promotion {
    font-size: 20px;
  }
  .splushkin-news {
    padding-left: 20px;
    padding-right: 20px;
  }
}